<!DOCTYPE html>
<html>
<head>
  <title>TipJar</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/debug.addIndicators.js"></script>
  <%= stylesheet_link_tag    'normalize', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>

<body>
	<!-- NAVBAR -->

		<% if current_user %>
		<nav id="nav_container" class='navbar navbar-default navbar-fixed-top'>
			<div class='container'>
				<div class='navbar-header'></div>
					<a id='home_button' href='/browse' class="navbar-brand">Tip Jar</a>
				<div id='navbar' class='collapse navbar-collapse'>
					<ul class='nav navbar-nav unordered_list'>
							<li><a id='profile_button' href="/users/<%= current_user.id%>">Profile</a></li>
							<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete   %></li>
						<li class='dropdown'>
							<a href="#" class="dropdown-toggle settings" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span></a>
							<ul class="dropdown-menu">
	              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
	              <li role="separator" class="divider"></li>
	              <li><a href="/users/<%= current_user.id %>/tip_settings">Edit Tip Settings</a></li>
	            </ul>
	          </li>
					</ul>
				</div>
			</div>
		</nav>
	<% end %>

<!-- NAVBAR -->

	<% if current_user %>
		
	 	<div class='container col-lg-12' id='main_body'>


	<% end %>

<!-- MAIN BODY -->

	<%= yield %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<!-- MAIN BODY -->
	<% if current_user %>
		
	</div>
	<% end %>
		


</body>

<!-- FOOTER -->
<!-- <footer class='footer'>
	<div class='container'>
		<p>THE MOTHER FUCKING FOOTER</p>
	</div>
</footer> -->
<!-- FOOTER -->

</html>
